.mainCont {
    background-color:#ebecf0;
    width: 102%;
    height: 200vh
}

#header {
    width: 100%;
    height: 18vh;
    background-color: white;
}
#mainImgCont {
    width: 88%;
    height: 75vh;
    margin: 1% 5% 1% 5%;
    background-color: white;
    float: left;
}
#covidCont {
    display: grid;
    width: 100%;
    height: 75vh;
    grid-template-rows: 17% 12%;
    margin: 0%;
    padding: 0%;
}
.check-rest{
   border: none;
   background-color: #465280;
   color: white;
   line-height: 0px;
   font-weight:lighter;
}
#covidCont > #bar1 {
    background-color:#465280 ;
    border-radius: 10px;
}
#covidCont > #bar2 {
    background-color: white;
}
#bar1,#bar2 {
    display:flex;
}
#bar1 > #warngImg {
    width: 5%;
    margin: 20px;
}
#bar1 > .covid {
    color: white;
    font-size: 16px;
}
#arrow > img{
width: 25px;
height: 20px;
margin: 10px;
margin-top: 20px;
}
#bar2 .see-properties-box {
    margin-top: 20px;
} 
.see-properties
{
    background-color: white;
    margin-top: 40px;
    color: rgb(27, 156, 207);
    font-size: 15px;
}

#imgCont {
    display: flex;
    gap: 3px;
}
#imgCont > div {
    flex-grow: 1;
}
#imgRght {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
}
.stay_warning{
    width: 6%
}
.stay_warning>i{
    font-size: 20px;
    padding: 30%;
    color: white
}
.reserve-room-bar {
    width: 100%;
    height: 9vh;
    display:flex;
    background-color: white;
}

.btns {
    flex-grow: 10;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8% 8% 8% 8% 8% 8%;
}
.btns > div {
    margin: 1px;
    padding-top: 19px;
    font-weight:500;
}
.reserve-room-bar-btn {
    margin: 16px;
    border: none;
    width: 100px;
    font-size: 14px;
    color: #092979;
    background-color: white;
    outline: none;
}
.reserve-room-btn2 > button {
    flex-grow: 1;
    background-color: white;
    margin-top: 12px;
}
.reserve-room-btn2 > button {
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 8px;
    background-color: #005aeb;
    font-size: 15px;
    color: white;
    font-weight: bold;
    outline: none;
}
.content-div {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: white;
}
.details-amenities{
    flex-grow: 2;
    margin-left: 20px;
    display: grid;
    grid-template-rows: 14% 17% 12% 8% 30% 5% 10%;

}
.explore-area {
    flex-grow: 5;
}
.details-amenities div {
    background-color: white;
    color: #001959;

}
#sagamore-text{
    font-size: 28px;
    font-weight: bold;
    line-height: 75%;
}
.details-amenities button {
    width: 12%;
    height: 30px;
    background-color: #001959;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 70%;
font-weight: bold;
}
#sagamore-text > i{
    font-size: 10px;
}
.popular-amenities {
    display: grid;
    font-size: 15px;
    grid-template-rows: 30% 70%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0%;
}
#reviews {
    float:right;
    width: 120px;
    margin-top: 30px;
}
.review-text {
    color: #005aeb;
    font-size: 15px;
    font-weight: normal;
    font-weight: 500;
}
.popular-amenities i {
    font-size: 18px;
}
.cleaning-safety {
    display: flex;
    flex-direction: row;
    grid-gap: 0px;
}
.cleaning-safety > div {
    flex-grow: 1;
    margin-top: 9px;
}
.explore-area-cont {
    height: 40vh;
}
 .mapCont {
     height: 40vh;
     display: flex;
     flex-direction: column;
 }
 #heading-text {
     font-size: 18px;
     color:  #001959;
     font-weight: bold;
 }
 .map {
     flex-grow: 1;

 }

 .map-loc-detail {
     flex-shrink: 1;
 }

 .map-btn {
    padding: 0px;
    width: 110px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: normal;
    background-color: white;
    color: #005aeb
 }

 #view-in-map {
     float: right;
 }
 .explore-area-cont {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #001959;
 }
.explore-text-h{
    flex-shrink: 2;
 }
 .explore-text{
     flex-grow: 2;
     display: flex;
     flex-grow: row;
 }
.empty-space {
    flex-grow: 6;
}
.explore-text div {
    flex-grow: 1;
    margin: 1px;
}
.address-text {
    width: 50%;
   -ms-flex-align: start;
   color: #17337a;
}
.walk-text {
    color: #17337a;
}
.all-text,a {
    color: #17337a;
    font-size: 15px;
    padding: 0px;
}