/* --------------------Search Stay{Start}---------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
html, body, .main-container{
    width: 100%;
    height: 100%;
}
.welcom_bar{
    background-color: #465280;
    color: white;
    height: 30px;
    padding-top: 10px;
    font-size: 14px;
}
.welcom_bar>p>a{
    color: white;
}
.search_stay{
    width: 92%;
    height: 500px;
    margin: auto;
    padding-top: 2%;
  
}
.stay_top_blue{
    padding-top: 20px;
    background-color: #465280;
    width: 100%;
    height:15%;
    border-radius: 10px;
    display: flex;
    
    color: white;
    
}
.stay_warning{
    width: 10%;

}
.stay_warning>i{
    font-size: 30px;
    padding:20% 0% 0% 40%;
}
.stay_right_p{
    font-size: 14px;
    line-height: 18px;
    padding-top: 0%;
    padding-bottom: 8px;
}

.stay_right_p>a{
    color: white;
    margin-right: 5%;
}


.stay_inputs>button{
    background: none;
    border: 1px solid #8d94b0;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    color: #6b7499;

}
.stay_checkboxes{
    margin: 2% 0;

}
.stay_checkboxes>label{
    margin-right: 10%;

}
.stay_buttons{
    margin: 2% 0;
}

.stay_buttons>button{
    background-color: #005aeb;
    border-radius: 5px;
    color: white;
    border: none;
    width: 200px;
    height: 46px;
}
.stay_desc{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
.stay_desc>p::before{
    content: "✓ ";
}



/* --------------------Search Stay{End}---------------------- */
























/* -----------------Ideas For Your Next Trip {Started} ----------- */

.ideas_trip{
    width: 92%;
    margin: auto;
    height: 400px;
}

.ideas_heading{
    width: 100%;
}
.ideas_cont{
    display: flex;
    width: 100%;
    height: 78%;
    /* background-color: aliceblue; */
}


.ideas_left{
    width: 65%;
    height: 100%;
}
.ideas_left_long{
    height: 70%;
    background-color: antiquewhite;
    background-image: url('https://a.travel-assets.com/travel-assets-manager/gmvd-1715-staycations-pwa/US_PWA_562x240.jpg');
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.ideas_left_small{
    height: 15%;
}
.ideas_right{
    
    width: 35%;
    height: 100%;
}
.ideas_right_top{
    display: flex;
    height: 47.25%;
    margin: 0 3% 3% 3%;
    /* margin-top: 0%; */

}
.ideas_right_bottom{
    display: flex;
    height: 47.25%;
    margin: 3% 3% 3% 3%;
}
.ideas_right_top_left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: burlywood;
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2020/07/17/resort_pool_overlook__343365916__150.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
    width:30% ;
    background-size: 170% 100%;
}
.ideas_right_bottom_left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: burlywood;
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2020/07/17/vacation_family__206331239__150.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
    width:30% ;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    
}



.text-col{
    color:#001959;
}

.bordering{
    border: 0.5px solid#bed1ce;
    border-radius: 10px;
}

.text_gapping{
    padding: 10px;
}
.text_styling{
    font-family: "Centra No1", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* _________________________________________________ */

@media only screen and (max-width: 992px) {
    .ideas_trip{
        width: 92%;
        margin: auto;
        height: 400px;
    }
    
    .ideas_heading{
        width: 100%;
    }
    .ideas_cont{
        /* display: flex; */
        width: 100%;
        height: 78%;
        /* background-color: aliceblue; */
    }

    .ideas_left{
        width: 100%;
        height: 100%;
    }

    .ideas_right{
    
        width: 100%;
        height: 100%;
    }

} 










/* -----------------Ideas For Your Next Trip {Ended}----------- */





/* ------------------Weekend Gateways{ Start }---------------- */

.weekend_gateways{
    width: 92%;
    height: 310px;
    margin: auto;
    margin-bottom: 4%;
}
.weekend_header{
    height: 15%;
    /* line-height: 5px; */
    margin-bottom: 2%;
}
.weekend_container{
    display: flex;
    height: 85%;
}
.weekend_box{
    width: 32%;
    margin: 0.5% 1% 1% 0%;
}
.weekend_box_image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(65, 62, 52);
    height: 65%;
    
    
}
.weekend_box_image_text{
    color: white;
    padding-top: 30%;
    font-weight: 600;
}
/* .weekend_guru{

} */
.weekend_guru_top{
        background-image: url('https://mediaim.expedia.com/destination/1/c5e8a35bf065066b4559d4680f616851.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* object-fit: cover; */
        
        
}
/* .weekend_guru_bottom{

} */
/* .weekend_agra{

} */
.weekend_agra_top{
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res70/124000/124012-Agra.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* .weekend_agra_bottom{

}
.weekend_agra_district{

} */
.weekend_agra_district_top{

    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res70/89000/89526-Taj-Mahal.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* .weekend_agra_district_bottom{

} */

.weekend_bhopal{
    display: none;
}
.weekend_bhopal_top{

    background-image: url('https://thumbnails.expedia.com/y7pk6yNP5VqmTfumLhHLk7dMPXg=/1280x720/images.trvl-media.com/media/content/expus/graphics/deals/TE_Clouds_card_r1.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* ------------------Weekend Gateways{ End }---------------- */










/* ------------------Find your next destination {start}-------------- */
.next_dest{
    width: 92%;
    margin: auto;
    height: 266px;
    margin-bottom: 2%;
}
.next_dest_header{
    width: 100%;
    height: 20%;
}
.next_dest_cont{
    display: flex;
    height: 70%;
    
}
.next_dest_box{
    height: 100%;
    width: 20%;
    /* background-color: tomato; */
    margin-left: 1%;
    border-radius: 10px;
    
}
.next_dest_text{
    color: white;
    /* font-size: 20px; */
    font-weight: 600;
    padding: 40% 0 0 30%;
}

.next_dest_box_toronto{

    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("https://thumbnails.trvl-media.com/lHm4ymOpabcmgHaMoAGLlDkZq2M=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/Toronto.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    
    
}
  
.next_dest_box_las_vegas{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://thumbnails.trvl-media.com/95Jes5CwByLClgIJ8LN9i-QmL9Y=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/LasVegas.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.next_dest_box_new_york{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("https://thumbnails.trvl-media.com/fLATJfEx9VWTkGBIqMz4lT_vqy8=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/NewYork.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 
.next_dest_box_orlando{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("https://thumbnails.trvl-media.com/NLd-Wi3Gvk2rD1AS-zOnqyvhzFk=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/Orlando_city.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
.next_dest_box_vancouver{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://thumbnails.trvl-media.com/VgH7A2g7lsSo7b3R3r0WqGKzqEM=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/Vancouver.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.next_dest_box_sanfrancisco{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://thumbnails.trvl-media.com/-jSxauocuyn-3A3y7UBGiI6bv2Q=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/SanFrancisco.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.next_dest_box_calgary{
    display: none;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("https://thumbnails.trvl-media.com/x_EtuWvXhhf2VsfDana44a5QT9I=/1040x580/smart/filters:no_upscale():quality(60)/a.travel-assets.com/flex/flexmanager/images/2019/11/27/Calgary.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: 5%;
    color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 15px;
    user-select: none;
  }
  
  .next {
    right: 50px;
  }
  
  .prev:hover, .next:hover {
    color: blue;
    background-color: #ffffff;
  }
  

/* ------------------Find your next destination {end}-------------- */






/* ---------------------Explore Disc Save {Start}------------------------ */
.exp_disc{
    width: 92%;
    height: 300px;
    margin: auto;
}
.exp_disc_header{
    width: 100%;
}
.exp_disc_cont{
    width: 100%;
    height: 90%;
}
.exp_disc_box{
    width: 100%;
    height: 100%;
    background-image: url('https://a.travel-assets.com/travel-assets-manager/a032eb45-943c-4892-acac-d93f9cbeec4b/PWA_Spotlight_Medium_667x320_US_under80.jpg');
    
    overflow: hidden;
    background-size:100% 160%;
    
    border-radius: 10px;
}
.exp_disc_text{
    color: white;
    padding-top: 13%;
}
/* ---------------------Explore Disc Save {End}------------------------ */







